// Campaign colors

$left-color-primary: #621f67;
$left-color-secondary: #ffffff;

$right-color-primary: #fed32d;
$right-color-secondary: #2A3D59;

// App-wide fonts

$titles-font: 'Oswald', sans-serif;
$corpus-font: 'Open Sans', sans-serif;

// Fonts used by candidate's campaigns

$left-font: '';

$right-font: '';