// Campaign colors

$left-color-primary: #621f67;
$left-color-secondary: #ffffff;

$right-color-primary: #fed32d;
$right-color-secondary: #2A3D59;

// Fonts used by candidate's campaigns

$left-font: '';

$right-font: '';