@import '../../utils/variables';

.scaffold-body {
  font-size: 16px;
  cursor: pointer;
  overflow: auto;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  border-width: 1px;
  border-style: solid;
}

#scrollableDiv-left {
  @extend .scaffold-body;
  background-color: $left-color-primary;
  text-align: left;
  border-color: $left-color-secondary;

  h4 {
    color: white;
  }
}

#scrollableDiv-right {
  @extend .scaffold-body;
  background-color: $right-color-primary;
  text-align: right;
  border-color: $left-color-secondary;

  h4 {
    color: #2A3D59;
  }
}
