@import '../../utils/variables';

.scaffold-body {
  font-size: 16px;
  cursor: pointer;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

#scrollableDiv-left {
  @extend .scaffold-body;
  background-color: $left-color-primary;
  text-align: left;
  // border-color: $left-color-secondary;

  h4 {
    color: white;
    font-size: 35px;
    padding-left: 20px;
    padding-top: 30px;
    font-style: italic;
  }
}

#scrollableDiv-right {
  @extend .scaffold-body;
  background-color: $right-color-primary;
  text-align: right;
  // border-color: $left-color-secondary;

  h4 {
    color: #2A3D59;
    font-size: 35px;
    padding-right: 20px;
    padding-top: 30px;
    font-style: italic;
  }
}
